{% extends 'layout.html' %}
{% load static tailwind_tags %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'Index_style.css' %}">
    {% tailwind_css %}
{% endblock %}

{% block title %}Shop products{% endblock %}

{% block content %}
<div class ="grid grid-cols-4 gap-4 m-4">
{% for product in products %}
    <div class="product-card bg-gray-800 p-4 rounded-lg">
        {% if product.image %}
            <img class="product-image size-50 rounded items-center" src="{{ product.image.url }}" alt="{{ product.name }}">
        {% endif %}
        <h2 class='text-white p-2 text-2xl'>{{ product.name }}</h2>
        <p class='text-green-500 font-bold'>Price: ₹{{ product.price }}</p>
    </div>
{% endfor %}
</div>
{% endblock %}