{% load static %}
<!doctype html style="--cnvs-viewport-width: 1365; --cnvs-viewport-height: 945; height: 100%;">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/layout_style.css' %}">
    <title>{% block title %} Top Direct Selling Company in India - Asclepius Wellness {% endblock %}</title>
    <meta name="title" content="Top Direct Selling Company in India - Asclepius Wellness">
    <link rel="icon" href="{% static 'Images/favicon.png' %}" type="Images/favicon.png">
    <meta name="description" content="Asclepius Wellness is a leading direct selling company in India offering high-quality wellness, healthcare, and lifestyle products with rewarding business opportunities.">
    {% block header %}

    {% endblock %}
  </head>
  <body>
    <header>
        
    </header>
    {% block content %}

    {% endblock %}

 
  </body>
</html>