.category-section{
    width:100%;
    padding:35px 0 25px;
    background:#fff;
}


.home-section--best-selling{
    padding-top:56px;
}

.categorySwiper{
    width:90%;
    margin:auto;
}

.category-section .swiper-slide{
    text-align:center;
}

.category-section .swiper-slide a{
    text-decoration:none;
}

.category-image{
    width:155px;
    height:155px;
    margin:0 auto 25px;
    border-radius:50%;
    overflow:hidden;

    display:flex;
    align-items:center;
    justify-content:center;

    transition:.3s;
}

.category-image img{
    width:100%;
    height:100%;
    object-fit:contain;
    padding:14px;
    background:#fff;
    border-radius:50%;
    transition:.4s;
}

.category-section .swiper-slide:hover .category-image{
    transform:translateY(-6px);
}

.category-section .swiper-slide:hover img{
    transform:scale(1.05);
}

.category-section .swiper-slide__title{
    font-size:12px;
    font-weight:700;
    color:#222;
    text-transform:uppercase;
    line-height:1.4;
    margin-top:10px;
}

@media(max-width:992px){

.home-section--categories{
    padding-bottom:48px;
}

.home-section--best-selling{
    padding-top:48px;
}

.category-image{
    width:135px;
    height:135px;
}

.category-section .swiper-slide__title{
    font-size:15px;
}

}

@media(max-width:768px){

.home-section--categories{
    padding-bottom:42px;
}

.home-section--best-selling{
    padding-top:42px;
}

.category-image{
    width:120px;
    height:120px;
}

.category-section .swiper-slide__title{
    font-size:15px;
}

}

@media(max-width:480px){

.home-section--categories{
    padding-bottom:36px;
}

.home-section--best-selling{
    padding-top:36px;
}

.category-image{
    width:105px;
    height:105px;
}

.category-section .swiper-slide__title{
    font-size:13px;
}

}